.contract{
		padding: 0 30rpx;
		font-family: '宋体';
	}
	.sign{
		width: 100rpx;
		height: 50rpx;
	}
	.page{
		width: 690rpx;
		// width: 570rpx;
		padding: 113rpx 0rpx;
		height: 1060rpx;
		// outline: 1rpx solid red;
		position: relative;
		// margin-top: 100rpx;
	}
	.page-number{
		position: absolute;
		bottom: 20rpx;
		left: 0;
		right: 0;
		margin-top: 15rpx;
		font-size: 24rpx;
		text-align: center;
		color: #666;
	}
	.fl {
		display: flex;
	}
	.jc-center{
		justify-content: center;
	}
	.jc-between {
		justify-content: space-between;
	}
	.a-i-center {
		align-items: center;
	}
	.text-center {
		text-align: center;
	}
	
	// 合同输入框（较长）
	.contract-input{
		min-width: 100rpx;
		border-bottom: 1rpx solid #000;
	}
	// 数量输入框（较短）
	.date-input{
		width: 100rpx;
		border-bottom: 1rpx solid #000;
		display: inline-block;
	}
	.date-input-sm{
		width: 50rpx;
		border-bottom: 1rpx solid #000;
		display: inline-block;
	}
	.date-input-ml{
		width: 140rpx;
		border-bottom: 1rpx solid #000;
		display: inline-block;
	}
	// 详细类容
	.content{
		text-indent: 2em;
		font-size: 24rpx;
		line-height: 1.5em;
	}
	.merge-content{
		text-indent: 0 !important;
	}
	.keywords{
		color: #666;
	}
	// 编号
	.serial-number{
		font-size: 26rpx;
		font-weight: bold;
	}
	// 合同名称
	.contract-name{
		width: 600rpx;
		font-size: 40rpx;
		font-weight: bold;
		margin: 200rpx auto;
	}
	// 第xx条
	.article{
		// font-size: 28rpx;
		font-size: 26rpx;
		font-weight: bold;
		text-indent: 2em;
		line-height: 2em;
	}
	// (xx)点
	.point{
		// font-size: 26rpx;
		font-size: 26rpx;
		line-height: 50upx;
		font-weight: bold;
		text-indent: 2em;
	}
	.signature{
		width: 50%;
		margin-top: 50rpx;
		flex: 1;
		&:last-child{
			padding-bottom: 100rpx;
		}
	}
	.company{
		font-size: 24rpx;
	}
	input {
		// padding: 0;
		text-indent: 0;
		font-size: 24rpx;
	}
	.over-ellipsis {
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	}