.padding-bottom150 {
	padding-bottom: 150upx;
}
//  tabList 下方列表滚动区域高度
.scroll-view-tab-list-body {
	height: calc( 100vh - 130upx - 110upx );
}
.top {
	padding: 0 110upx;
	width: 530upx;
	height: 110upx;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	// border: 1px solid red;
	display: flex;
	justify-content: space-between;
	background: rgba(255, 255, 255, 1);
}

.top view {
	height: 61upx;
	float: left;
	// border: 1px solid red;
	margin-left: 67upx;
	font-size: 32upx;
	margin-top: 21upx;
	line-height: 61upx;
}

.top view:nth-of-type(1) {
	margin-left: 9upx;
}

.active {
	border-bottom: 6upx solid #FFC823;
	font-weight: 700;
}